{% extends "base.html" %}

{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}

    {% for room in pages %}
        <h1>{{room.name}} / ${{room.price}}</h1>
    {% endfor %}

    <p>Page {{pages.number}} of {{pages.paginator.num_pages}}</p>

    <p>
      {% if pages.has_previous %}
      <a href="?page={{pages.previous_page_number}}">prev</a> 
      {% endif %}

      {% for page_num in pages.paginator.page_range %}
      <a href="?page={{page_num}}">{{page_num}}</a>
      {% endfor %}
      
      {% if pages.has_next %}
      <a href="?page={{pages.next_page_number}}">next</a>  
      {% endif %}
    </p>

{% endblock content %}




